@import "tailwindcss";
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@theme {
  --font-sans: 'Momo Trust Sans', sans-serif;
  --color-violet-200: #2C0249;
  --color-violet-100: #E1B5FF;
  --color-violet-gray-200: #A586B9;
  --color-violet-gray-100: #D0C6D6;
}

body {
  color: var(--color-violet-200);
}